src/main/webapp/wsdl/GradeCal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://calculator.gradecal.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://calculator.gradecal.com" xmlns:intf="http://calculator.gradecal.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://calculator.gradecal.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="grade">
    <complexType>
     <sequence>
      <element name="marks" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="gradeResponse">
    <complexType>
     <sequence>
      <element name="gradeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="gradeRequest">

      <wsdl:part element="impl:grade" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="gradeResponse">

      <wsdl:part element="impl:gradeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GradeCal">

      <wsdl:operation name="grade">

         <wsdl:input message="impl:gradeRequest" name="gradeRequest">

       </wsdl:input>

         <wsdl:output message="impl:gradeResponse" name="gradeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GradeCalSoapBinding" type="impl:GradeCal">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="grade">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="gradeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="gradeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GradeCalService">

      <wsdl:port binding="impl:GradeCalSoapBinding" name="GradeCal">

         <wsdlsoap:address location="http://localhost:8080/Question1/services/GradeCal"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
